full:
  stage: test
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/full
  script:
    - export PYSTENCILS_TENSORFLOW_NVCC_ARCH=35
    - git submodule update --init --recursive
    - python -m pip install -e .
    - python setup.py test
  tags:
    - docker
    - cuda
  artifacts:
    paths:
      - 'pyronn_layers.so'

full-dependencies-from-master:
  stage: test
  image: i10git.cs.fau.de:5005/pycodegen/pycodegen/full
  script:
    - python -m pip install -U git+https://github.com/mabau/pystencils.git
    - python -m pip install -U git+https://i10git.cs.fau.de/pycodegen/pystencils_autodiff.git
    - export PYSTENCILS_TENSORFLOW_NVCC_ARCH=35
    - git submodule update --init --recursive
    - python -m pip install -e .
    - python setup.py test
  tags:
    - docker
    - cuda
  artifacts:
    paths:
      - 'pyronn_layers.so'
