[submodule "src/pyronn_layers/PYRO-NN-Layers"]
	path = src/pyronn_layers/PYRO-NN-Layers
	url = https://github.com/csyben/PYRO-NN-Layers.git
[submodule "tests/PYRO-NN"]
	path = tests/PYRO-NN
	url = https://github.com/theHamsta/PYRO-NN.git
